/* header {
    padding: 10px;
    border-bottom: 5px solid #ccc;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 20vh;
    display: block;
    top: 0;
    background-color: #2a9d8f;
    color: white;
    z-index: 200;
} */
/* 
#menu {
    text-align: center;
}

.menu-list {
    display: inline-block;
    margin-right: 15px;
    padding: 10px;
}

.menu-link {
    text-decoration: none;
    font-size: 14px;
    color: inherit;
    text-transform: uppercase;
    transition: background-color 0.5s ease-in-out;
    font-weight: 600;
    padding: 10px;
} */

/* .menu-link:hover {
    /* color: #007BFF;
    border-bottom: 2px solid #007BFF; */
   /* color: white;
    background-color: rgb(11, 78, 60);
} */
/* 
body {
    width: 100%;
} */
nav {
    position: fixed;
    width: 100%;
    height: 20vh;
    background-color: white;
    display: block;
    top: 0;
    bottom: 10px;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    z-index: 200;
}


h1 { 
    cursor: pointer;
    text-align: center;
    justify-content: center;
} 

/* nav img {
    width: 100px;
    cursor: pointer;

} */

nav .navigation ul {
    display: inline-block;
    align-items: center; 
    color: inherit;
    /* text-align: center;  */
    /* padding: 10px; */
}

nav .navigation ul li {
    display: inline-block;
   list-style: none;
   margin-right: 35px;
   
}

nav .navigation ul li a {
    text-decoration: none;
    font-size: 14px;
    color: inherit;
    text-transform: uppercase;
    transition: background-color 0.5s ease-in-out;
    font-weight: 600;
    padding: 10px;
}

nav .navigation ul li a:hover {
    color: white;
    background-color: rgb(11, 78, 60);
}

/* Home */
#Home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7)),url(assets/autorefractor.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#Home h2 {
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#Home p {
    width: 80%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}

#Eye-health {
    /* background-image: linear-gradient(rgba(9, 5, 54, 0.2), rgba(5,4,46,0.3)),url(assets/healthy_eyes.jpg); */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


/* #Eye-health p {
    color: white;
} */

footer {
    /* padding: 15px;
    border-top: 5px solid #ccc;
    text-align: center;
    height: 10vh; */
}

#Appointment {
}

/*section ul {
    margin-left: 0;
    border: 2px solid red;
}
.health-eyes {
    display: inline-block;
    border: 2px solid green;
}
*/
form {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background-color: rgba(22, 6, 41, 0.9);
    color: white;
}

fieldset {
    border: none;
    padding: 0.5rem 0;
}

form h3 {
    text-align: center;
}

  
label {
    display: block;
    margin: 0.5rem 0;
    margin-bottom: 0px;
}
  
input[class="full"], select, textarea {
    width: 100%;
    margin: 2px 20x 0 0;
    min-height: 2.5em;
  }
  
input, textarea {
    background-color: #ffffff;
    color: black;
    border-radius: 4px;
  }
  
input[type="submit"] {
    width:100%;
    height: 50px;
    background-color:teal;
    color: white;
    font-size: 20px;
}
  
textarea {
    height: 50px;
}



