header {
    padding: 10px;
    border-bottom: 5px solid #ccc;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(240, 241, 233);
    z-index: 200;
    color: black;
}

#menu {
    text-align: center;
}

.menu-list {
    display: inline-block;
    margin-right: 15px;
    padding: 10px;
}

.menu-link {
    text-decoration: none;
    font-size: 14px;
    color: inherit;
    text-transform: uppercase;
    transition: background-color 0.5s ease-in-out;
    font-weight: 600;
    padding: 10px;
}

.menu-link:hover {
    /* color: #007BFF;
    border-bottom: 2px solid #007BFF; */
    color: white;
    background-color: black;
}

main {
    margin: 220px auto;
    width: 100%;
}

footer {
    padding: 15px;
    border-top: 5px solid #ccc;
    text-align: center;
}

section img {
    width: 200px;
    height: 200px;
}

/*section ul {
    margin-left: 0;
    border: 2px solid red;
}
.health-eyes {
    display: inline-block;
    border: 2px solid green;
}
*/
form {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background-color: rgba(22, 6, 41, 0.9);
    color: white;
}

fieldset {
    border: none;
    padding: 0.5rem 0;
}

form h3 {
    text-align: center;
}

  
label {
    display: block;
    margin: 0.5rem 0;
    margin-bottom: 0px;
}
  
input[class="full"], select, textarea {
    width: 100%;
    margin: 2px 20x 0 0;
    min-height: 2.5em;
  }
  
input, textarea {
    background-color: #ffffff;
    color: black;
    border-radius: 4px;
  }
  
input[type="submit"] {
    width:100%;
    height: 50px;
    background-color:teal;
    color: white;
    font-size: 20px;
}
  
textarea {
    height: 50px;
}



